<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
 </configSections>
 <connectionStrings>
  <add name="QLiCuaHangSachEntities" connectionString="metadata=res://*/QLCuaHangSach.csdl|res://*/QLCuaHangSach.ssdl|res://*/QLCuaHangSach.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=QLiCuaHangSach;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
  <add name="CuaHangSachHuynhTanPhat.Properties.Settings.QLiCuaHangSachConnectionString"
   connectionString="Data Source=.;Initial Catalog=QLiCuaHangSach;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
</configuration>
